body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}
main {
  min-height: 100vh;
}
.search {
  display: flex;
  align-items: center;
  background-color: #efefef;
  border-radius: 20px;
  padding: 5px;
  margin: 20px 0;
}
.search > input {
  width: 70%;
  border: none;
  outline: none;
  background-color: #efefef;
}
.notes_list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
}
.note {
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}
.note.new {
  background-color: #67d7cc;
}
.note.new textarea {
  border: none;
  background-color: inherit;
  outline: none;
  resize: none;
}
.note_down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.save:hover {
  color: #ededed;
  cursor: pointer;
}
.delete:hover {
  color: red;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark_mode {
  background-color: black;
}
.dark_class,
.dark_mode h1 {
  color: white;
}
.note.new, .new > textarea{
  color: white;
}
@media (max-width: 400px) {
  .notes_list {
    grid-template-columns: repeat(auto-fit, 100%);
    place-items: center;
  }
  .note {
    width: 80%;
  }
}
